In [2]:
import numpy as np 
import pandas as pd 
import os
import datetime as dt

In [47]:
data_dir = '/Users/huangha/Desktop/data'
df = pd.read_csv(os.path.join(data_dir, 'Full_Join_LizcoDS_v3.csv'), sep=',', encoding='latin-1')

last_updated = pd.read_csv(os.path.join(data_dir, 'Last Updated Profile By Shop.csv'))
matched = pd.read_csv(os.path.join(data_dir, 'df_final.csv'))
google = pd.read_csv(os.path.join(data_dir, 'All_Shops_Google_Tagged.csv'))

In [48]:
matched = matched.drop_duplicates(['company_id'])[['company_id', 'oem']]

In [49]:
df = df.merge(last_updated, left_on='company_id', right_on='company_id', how='left')

In [50]:
df = df.merge(matched, left_on='company_id', right_on='company_id', how='left')

In [51]:
df_google = google[['company_id', 'permanently_closed']].fillna(True)

In [52]:
df

,Unnamed: 0,company_id,PCD_company_name,company_type,PCD_ADDRESS,PCD_CITY,PCD_ZIP,iso_country_code,active,verified,...,AAX,Current.Volume,Integration.Type,MSO.Name,GOOGLE_ADDRESS,GOOGLE_CITY,GOOGLE_ratio,permanently_closed,last_login,oem
0,1,1,Gerber Collision & Glass - Madison/Wayne Terr,1,5317 Wayne Ter,MADISON,53718,US,1,1,...,Yes,589.0,"Cyncast, CCC",Gerber,5317 Wayne Ter,MADISON,96,False,1/3/19 13:44,NaN
1,2,57,Gates Chevy World,1,636 W Mckinley Ave,Mishawaka,46545,US,1,1,...,Yes,822.0,"Cyncast, CCC, CCC1",NaN,636 W Mckinley Ave,Mishawaka,100,False,4/10/19 9:57,Basney BMW
2,3,58,Govert Auto Body,1,420 Industrial Drive,Griffith,46319,US,1,1,...,No,272.0,NaN,NaN,420 Industrial Drive,Griffith,100,False,2/3/12 11:27,NaN
3,4,61,Freeman Collision Center,1,2828 Dowd Dr,Santa Rosa,95407,US,1,1,...,No,185.0,NaN,NaN,2828 Dowd Dr,Santa Rosa,59,False,1/7/15 18:50,Freeman Collision Center
4,5,62,Carreras Auto Body,1,36B Mill St.,Healdsburg,95448,US,1,1,...,No,45.0,NaN,NaN,36B Mill St.,Healdsburg,100,False,6/19/13 15:30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19385,19386,3046324,Barnett's Body Shop,1,120 Autobahn Loop,MADISON,39110,US,1,1,...,NaN,NaN,NaN,NaN,120 Autobahn Loop,MADISON,95,False,5/9/19 9:07,NaN
19386,19387,3046331,Linear Automotive Collision and Service,1,905 K Ave,PLANO,75074,US,1,1,...,NaN,NaN,NaN,NaN,905 K Ave,PLANO,100,False,2/10/19 10:42,NaN
19387,19388,3046333,George's Collision Center,1,1498 Shoemaker St,NANTY GLO,15943,US,1,1,...,NaN,NaN,NaN,NaN,1498 Shoemaker St,NANTY GLO,100,False,2/11/19 13:54,NaN
19388,19389,3046346,Quality First Autobody,1,2800 W Commercial St,OZARK,72949,US,1,1,...,NaN,NaN,NaN,NaN,2800 W Commercial St,OZARK,73,False,2/19/19 16:36,NaN
19389,19390,3046368,Nick's Test Shop,1,255 Rue Saint-Paul,QUEBEC,G1K 3W5,CA,1,1,...,NaN,NaN,NaN,NaN,255 Rue Saint-Paul,QUEBEC,31,False,2/20/19 13:28,NaN

In [53]:
df = df.drop(['permanently_closed'], axis=1)
df = df.merge(df_google, left_on='company_id', right_on='company_id', how='left')

In [54]:
df1 = df.drop(['Unnamed: 0', 'company_id', 'PCD_company_name', 'company_type', 'PCD_ADDRESS', 
               'PCD_CITY', 'PCD_ZIP', 'iso_country_code', 'ABS_ADDRESS', 
               'ABS_CITY', 'ABS_ZIP', 'OBS_ADDRESS', 'OBS_CITY', 'OBS_ZIP', 
               'Integration.Type', 'GOOGLE_ADDRESS', 'GOOGLE_CITY', 
               'GOOGLE_ratio'], axis=1)

In [56]:
df1

,active,verified,address_type_code,Suggested Action (Other than Name Change),AAX,Current.Volume,MSO.Name,last_login,oem,permanently_closed
0,1,1,ROOFTOP,NaN,Yes,589.0,Gerber,1/3/19 13:44,NaN,False
1,1,1,ROOFTOP,NaN,Yes,822.0,NaN,4/10/19 9:57,Basney BMW,False
2,1,1,RANGE_INTERPOLATED,NaN,No,272.0,NaN,2/3/12 11:27,NaN,False
3,1,1,RANGE_INTERPOLATED,NaN,No,185.0,NaN,1/7/15 18:50,Freeman Collision Center,False
4,1,1,RANGE_INTERPOLATED,NaN,No,45.0,NaN,6/19/13 15:30,NaN,False
...,...,...,...,...,...,...,...,...,...,...
19385,1,1,ROOFTOP,NaN,NaN,NaN,NaN,5/9/19 9:07,NaN,False
19386,1,1,ROOFTOP,NaN,NaN,NaN,NaN,2/10/19 10:42,NaN,False
19387,1,1,MANUAL_ENTRY,NaN,NaN,NaN,NaN,2/11/19 13:54,NaN,False
19388,1,1,ROOFTOP,NaN,NaN,NaN,NaN,2/19/19 16:36,NaN,False
19389,1,1,MANUAL_ENTRY,NaN,NaN,NaN,NaN,2/20/19 13:28,NaN,False

In [57]:
df1['since_last_login'] = dt.datetime.now() - pd.to_datetime(df1['last_login'])
df1['since_last_login'] = df1['since_last_login'] - df1['since_last_login'].min()
df1['since_last_login'] = df1['since_last_login'].dt.total_seconds() / 86400
df1 = df1.drop(['last_login'], axis=1)

In [58]:
df1['AAX'] = df1['AAX'].fillna('empty')
df1['Current.Volume'] = df1['Current.Volume'].fillna(-1)

In [59]:
def volume_map(x):
    if x > 0:
        return 'positive'
    elif x == 0:
        return 'zero'
    else:
        return 'none'

df1['Current.Volume'] = df1['Current.Volume'].apply(volume_map)

In [60]:
df1['is MSO.Name'] = df1['MSO.Name'].isna()
df1['is oem'] = df1['oem'].isna()

df1 = df1.drop(['MSO.Name', 'oem'], axis=1)

In [61]:
df1['Suggested Action (Other than Name Change)'] = df1['Suggested Action (Other than Name Change)'].fillna('none').apply(lambda x: True if ((x == 'closed') or (x == 'no body shop')) else False)

In [62]:
df1.columns = ['active', 'verified', 'address_type_code', 'is_closed_ABS', 
               'is_AAX', 'current_volume', 'permanently_closed', 'since_last_login',
               'is_mso', 'is_oem']

In [63]:
df1

,active,verified,address_type_code,is_closed_ABS,is_AAX,current_volume,permanently_closed,since_last_login,is_mso,is_oem
0,1,1,ROOFTOP,False,Yes,positive,False,125.865972,False,True
1,1,1,ROOFTOP,False,Yes,positive,False,29.023611,True,False
2,1,1,RANGE_INTERPOLATED,False,No,positive,False,2651.961111,True,True
3,1,1,RANGE_INTERPOLATED,False,No,positive,False,1582.653472,True,False
4,1,1,RANGE_INTERPOLATED,False,No,positive,False,2149.792361,True,True
...,...,...,...,...,...,...,...,...,...,...
19385,1,1,ROOFTOP,False,empty,none,False,0.058333,True,True
19386,1,1,ROOFTOP,False,empty,none,False,87.992361,True,True
19387,1,1,MANUAL_ENTRY,False,empty,none,False,86.859028,True,True
19388,1,1,ROOFTOP,False,empty,none,False,78.746528,True,True
19389,1,1,MANUAL_ENTRY,False,empty,none,False,77.877083,True,True

In [66]:
df1.to_csv(os.path.join(data_dir, 'feature_engineered.csv'))

In [ ]:
(df1['Suggested Action (Other than Name Change)'].isna()).mean()

0.8575554409489428

In [ ]:
(df['ABS_ADDRESS'].isna()).mean()

0.02042289840123775

In [17]:
(df['OBS_ADDRESS'].isna()).mean()

0.3

In [100]:
(df1['MSO.Name'].isna()).mean()

0.8096957194430119

In [97]:
(df['ABS_ADDRESS'].isna()).mean()

0.02042289840123775

In [101]:
df.columns

Index(['Unnamed: 0', 'company_id', 'PCD_company_name', 'company_type',
       'PCD_ADDRESS', 'PCD_CITY', 'PCD_ZIP', 'iso_country_code', 'active',
       'verified', 'address_type_code',
       'Suggested Action (Other than Name Change)', 'ABS_ADDRESS', 'ABS_CITY',
       'ABS_ZIP', 'OBS_ADDRESS', 'OBS_CITY', 'OBS_ZIP', 'AAX',
       'Current.Volume', 'Integration.Type', 'MSO.Name', 'GOOGLE_ADDRESS',
       'GOOGLE_CITY', 'GOOGLE_ratio', 'permanently_closed', 'last_login',
       'oem'],
      dtype='object')

In [19]:
df['address_type_code']

0                   ROOFTOP
1                   ROOFTOP
2        RANGE_INTERPOLATED
3        RANGE_INTERPOLATED
4        RANGE_INTERPOLATED
                ...
19385               ROOFTOP
19386               ROOFTOP
19387          MANUAL_ENTRY
19388               ROOFTOP
19389          MANUAL_ENTRY
Name: address_type_code, Length: 19390, dtype: object

In [23]:
df1.loc[3158,:]

active                           1
verified                         1
address_type_code     MANUAL_ENTRY
is_closed_ABS                False
is_AAX                         Yes
current_volume            positive
permanently_closed           False
since_last_login       2883.673611
is_mso                       False
is_oem                        True
Name: 3158, dtype: object

In [24]:
df1.loc[3139,:]

active                                 1
verified                               1
address_type_code     RANGE_INTERPOLATED
is_closed_ABS                      False
is_AAX                               Yes
current_volume                  positive
permanently_closed                  True
since_last_login              342.923611
is_mso                              True
is_oem                              True
Name: 3139, dtype: object

In [26]:
df1.loc[639,:]

active                         1
verified                       1
address_type_code        ROOFTOP
is_closed_ABS              False
is_AAX                       Yes
current_volume          positive
permanently_closed         False
since_last_login      395.032639
is_mso                      True
is_oem                      True
Name: 639, dtype: object